.sidebar{ padding-top:40px; }
.application-body { padding-top:50px; }
.form-signin{
	max-width: 500px;
	margin-top: 14px;
	padding: 10px;
	border: solid;
}
h4{ color:grey; }
.home-logo{
	max-width: 250px;
	padding: 20px;
}
.home-language-select{
	font-size: 12pt !important;
	text-align: center;
}
#centered-form{
	position: relative;
}
#desc-title{
	color: #6570B5;
}
.center-col{
	text-align:center;
}
.just-col{
	text-align:justify;
}
.home-tagline{
	text-align:center;
}
.home-title-right{
	text-align:right;
}
.home-sign-in-buttons{
	text-align:center;
}
.home-description{
	background-color:white;
	width:100%;
	
}
.home-row-image{
 	
}
.home-explanation-text{
	font-size:12pt;
	padding-left: 40;
	padding-right: 40;
	padding-top:20;
}
.home-image-square{
	max-width: 250px;
	position: relative;
}
.lato-font, .modal-dialog{
	font-family: lato, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.form-small-pad{
	padding-top: 5px;
}
.btn{
	font-family: lato, sans-serif;
	font-style: normal;
	font-weight: 300;
}
.row-image{
	max-height:250px;
}
.grid-image{
	text-align:center;
}
.row{
	padding:10;
}
.no-left-margin{
	margin-left:0 !important;
}
.footer{
	text-align:center;
	margin-bottom:20px;
	margin-top:100px;
	opacity:0.5;
	background-color:white;
	width:100%;
	left:0;
}

#lotus-model-number{
	width: 80px;
}
#feature-comparison-chart{
	max-width: 600px;
	margin-top:20px;
	margin-bottom:20px;
}
.notes-input{

}
#submit-lotus-order{
	margin-top:10px;
	margin-bottom:20px;
}
.padding-zero{
	padding:0 !important;
}

.contact-info{
	margin-top:50pt;
}
.product-catalog-container{
	margin-top:20pt;
	margin-bottom:20pt;
}